.root {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #F7F9FC;
}

.subtitle {
  margin-bottom: 16px;
}

.alert {
  margin-bottom: 16px;
}

.submitBtn {
  margin-top: 16px;
}

.resendBtn {
  margin-top: 8px;
}

.linksRow {
  margin-top: 16px;
}
